* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(221, 100%, 96%);
}
h3 {
  font-size: 22px;
  margin-bottom: 25px;
}
.box-1 h3:first-child {
  opacity: 0.5;
}

.container {
  width: min(700px, 80%);
  gap: 0;
  display: flex;
}
.box-1 p {
  font-size: 16px;
  opacity: 0.5;
}
h1 {
  font-size: 50px;
  font-weight: 800;
}
.box-1 {
  color: #ffffff;
  width: 50%;
  text-align: center;
  padding-block: 5%;
  padding-inline: 10.5%;
  border-radius: 20px;
  background: linear-gradient(to bottom, #6441fd, #4635f3);
}

.circle {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  flex-direction: column;
  width: 180px;
  height: 180px;
  /* clip-path: circle(50% at 50% 50%); */
  padding-block: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #4a26d0, #4635f3);
}
.circle p {
  opacity: 0.5;
}

.box-2 {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 5%;
  padding-inline: 2%;
  border-radius: 0 10px 10px 0px;
}
.tests {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border-radius: 10px;

  /* outline: 1px solid red; */
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reaction {
  background-color: #fff6f7;
}
.reaction > .icon-container span {
  color: hsl(0, 100%, 67%);
  font-weight: 600;
}
.memory {
  background-color: #fffaf4;
}
.memory > .icon-container span {
  color: hsl(39, 100%, 56%);
  font-weight: 600;
}
.verbal {
  background-color: #f2fdf9;
}
.verbal > .icon-container span {
  color: hsl(166, 100%, 37%);
  font-weight: 600;
}
.visual {
  background-color: #f4f4fe;
}
.visual > .icon-container span {
  color: hsl(234, 85%, 45%);
  font-weight: 600;
}
div > p {
  font-weight: 600;
}
.tests p > span {
  opacity: 0.5;
}
button {
  background-color: #303b59;
  color: #ffffff;
  width: 100%;
  padding-block: 12px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  margin-top: 20px;
}
button:hover {
  background-color: #4a36f2;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    margin-block: 10px;
  }
  .box-1 {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
  .box-2 {
    width: 100%;
  }
  /* .tests {
    gap: 20px;
  } */
}
